.content main .profile{
    display: grid;
    grid-template-columns: 10% 45% 45%;
    height: 100%;
    width: 80%;
    gap: 20px;
    padding: 50px;
    background-color: white;
    border-radius: 20px;
}

.content main .profile .profile-left img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.content main .profile .profile-center,
.content main .profile .profile-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content main .profile input{
    background-color: rgb(247, 247, 247);
    height: 40px;
    width: 80%;
    max-width: 400px;
    border-radius: 30px;
    padding: 0 20px;
    border: 1px solid gainsboro;
    gap: 1rem;
}


.content main .profile .profile-actions button {
    background-color: #2c8379;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: auto;
    
}