<<<<<<< HEAD:Journey Beyond/CSS/Dashboard.css

.content main .insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 24px;
    margin-top: 36px;
    
  
}
.content main .insights li{
    background: var(--light);
    padding: 24px;
    border-radius: 20px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 2rem;
}

.content main .insights li svg{
    height: 30px;
    width: 30px;
    display: flex;
    font-size: 36px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.content main .insights .products{
    background: rgb(126, 232, 112);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content main .insights .view{
    background: #a7d6dd;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content main .insights .earnings{
    background: rgb(126, 232, 112);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content main .insights .pendings{
    background: rgb(167, 214, 221);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content main .bottom-data{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 24px;
    width: 100%;
}

.content main .bottom-data>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.content main .bottom-data .header{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.content main .bottom-data .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .header svg{
   cursor: pointer;
}

.content main .bottom-data .orders{
    flex-grow: 1;
    flex-basis: 500px;
}

.content main .bottom-data .orders table{
    width: 100%;
    border-collapse: collapse;
}

.content main .bottom-data .orders table th{
    padding-bottom: 12px;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid var(--light-success);
}

.content main .bottom-data .orders table td{
    padding: 16px 0;
}

.content main .bottom-data .orders table tr td:first-child{
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 6px;
}

.content main .bottom-data .orders table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.content main .bottom-data .orders table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}
    
.content main .bottom-data .orders table tbody tr:hover{
    background: var(--grey);
}

.content main .bottom-data .orders table tbody tr td .status{
    font-size: 12px;
    padding: 6px 16px;
    border-radius: 20px;
    font-weight: 700px;
}

.content main .bottom-data .orders table tbody tr td .status.completed{
    background: rgb(89, 231, 96);
}

.content main .bottom-data .orders table tbody tr td .status.pending{
    background: rgb(255, 247, 9);
}

.content main .bottom-data .orders table tbody tr td .status.cancelled{
    background: rgb(255, 50, 50);
}
=======
.content main {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 24px;
    max-height: calc(100vh - 56px);
}

.content main .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.content main .header .left h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--light-primary);
}

.content main .insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 24px;
    margin-top: 36px;
    
  
}
.content main .insights li{
    background: var(--light);
    padding: 24px;
    border-radius: 20px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 2rem;
}

.content main .insights li svg{
    height: 30px;
    width: 30px;
    display: flex;
    font-size: 36px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.content main .insights .products{
    background: rgb(126, 232, 112);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content main .insights .view{
    background: rgb(167, 214, 221);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content main .insights .earnings{
    background: rgb(126, 232, 112);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content main .insights .pendings{
    background: rgb(167, 214, 221);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content main .bottom-data{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 24px;
    width: 100%;
}

.content main .bottom-data>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.content main .bottom-data .header{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.content main .bottom-data .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .header svg{
   cursor: pointer;
}

.content main .bottom-data .orders{
    flex-grow: 1;
}

.content main .bottom-data .orders table{
    width: 100%;
    border-collapse: collapse;
}

.content main .bottom-data .orders table th{
    padding-bottom: 12px;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid var(--light-success);
}

.content main .bottom-data .orders table td{
    padding: 16px 0;
}

.content main .bottom-data .orders table tr td:first-child{
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 6px;
}

.content main .bottom-data .orders table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.content main .bottom-data .orders table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}
    
.content main .bottom-data .orders table tbody tr:hover{
    background: var(--grey);
}

.content main .bottom-data .orders table tbody tr td .status{
    font-size: 12px;
    padding: 6px 16px;
    border-radius: 20px;
    font-weight: 700px;
}

.content main .bottom-data .orders table tbody tr td .status.completed{
    background: rgb(89, 231, 96);
}

.content main .bottom-data .orders table tbody tr td .status.pending{
    background: rgb(255, 247, 9);
}

.content main .bottom-data .orders table tbody tr td .status.cancelled{
    background: rgb(255, 50, 50);
}
>>>>>>> Ushan:Journey Beyond/Public/CSS/Dashboard.css
