.content main {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 24px;
    max-height: calc(100vh - 56px);
}

.content main .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.content main .header .left h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--light-primary);
}

.content main .header .add-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(12, 12, 85);
    color: whitesmoke;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    gap: 1px;
    border: none;
    transition: all 0.3s ease-out;
}

.content main .header .add-btn:hover{
    background-color: teal;
}

.content main .Inventory{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 24px;
}

.content main .Inventory>div{
    border-radius: 20px;
    background: var(--light);
    padding: 18px;
    overflow-x: auto;
    width: 100%;
}

.content main .Inventory .header{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.content main .Inventory .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .Inventory .header svg{
   cursor: pointer;
}

.content main .Inventory table{
    width: 100%;
    border-collapse: collapse;
}

.content main .Inventory table th{
    padding-bottom: 12px;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid var(--light-success);
}

.content main .Inventory table td{
    padding: 16px 0;
}

.content main .Inventory table tr td:first-child{
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 20px;
}

.content main .Inventory table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.content main .Inventory table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}
    
.content main .Inventory table tbody tr:hover{
    background: var(--grey);
}

.Action{
    display: flex;
    gap: 10px; 
    transition: all 0.3s ease;
}

.Action .delete svg:hover{
    fill: red;
}

.Action .edit svg:hover{
    fill: rgb(1, 14, 191);
}



.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 6000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-container.active {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: white;
    width: 800px;
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modal-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-top h1 {
    margin: 0;
    font-size: 28px;
}

.modal-top .close {
    font-size: 2em;
    cursor: pointer;
}

.modal-form form{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.modal-form form input{
    border: none;
    background-color: rgb(239, 239, 239);
    height: 20px;
    border-radius: 10px;
    padding: 20px;
}

.modal-form form .left, .modal-form form .right{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
}

.modal-container button{
    background-color: rgb(21, 126, 126);
    color: white;
    font-size: medium;
    height: 30px;
    border-radius: 30px;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    padding: 0 10px;
    transition: all 0.3s ease;
}

.modal-container button:hover{
    background-color: rgb(0, 102, 122);
}
.close {
    color: #8f8f8f;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.blur {
    filter: blur(5px); 
    transition: filter 0.3s ease; 
}
